---
layout: home
---
<div class="posts">
  {% for post in site.posts %}
    <article class="post">
      <div class="yellowbox" style="margin-left: {{post.yellowLeft}}%;margin-bottom: {{post.yellowOverlap}}px">
        <p class="title">{{ post.yellowTitle }}</p>
        <p class="content">{{ post.yellowContent }}</p>
      </div>

      {% if post.image1 %}
      <img
        src="{{ post.image1 }}"
        class="mainImage"
        style="left: {{post.image1Left}}%;transform: translateX(-{{post.image1Left}}%);
               top: {{post.image1Overlap}}%;transform: translateY(-{{post.image1Overlap}}%);
               max-width: {{post.image1Width}}%;
               "
      />
      {% endif %}

      {% if post.image2 %}
      <img
        src="{{ post.image2 }}"
        class="mainImage"
        style="left: {{post.image2Left}}%;transform: translateX(-{{post.image2Left}}%);
               top: {{post.image2Overlap}}%;transform: translateY(-{{post.image2Overlap}}%);
               max-width: {{post.image2Width}}%;
               "
      />
      {% endif %}

      {% if post.image3 %}
      <img src="{{ post.image3 }}"
          class="mainImage"
          style="left: {{post.image3Left}}%;transform: translateX(-{{post.image3Left}}%);
                 top: {{post.image3Overlap}}%;transform: translateY(-{{post.image3Overlap}}%);
                 max-width: {{post.image3Width}}%;
                 "
      />
      {% endif %}

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Läs mer</a>
    </article>
  {% endfor %}
</div>
