body, a, p {
    font-family: Quicksand, system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-display: swap;
    font-style: normal;
    font-weight: 400;
}


.wrapper{
    height: 100%;
    width: 100%;
    /* margin: 25px auto; */
    margin: 0;
    position: relative;
    /* background: blue; */
}

.circle {
    width: 50vh;
    height: 50vh;
    border-radius: 10000px;
    margin: auto;
    transition: all 1s;
    top:0;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

.portfolioCircle {
    margin-bottom: 50px;
    background: rgb(114, 109, 185);
    line-height: 75vh;
}


.meCircle {
    background: rgba(255, 128, 192, 0.5);
    top: 38vh;
    line-height: 25vh;
}



.wrapper:hover .portfolioCircle{
     top: 35vh;
}

.wrapper:hover .meCircle{
    top: 10vh;
}

.fadeingText{
    display: inline-block;
    text-decoration: none;
    color: white;
    opacity: 0;
    transition: all 0.2s 0s;
    font-size: 3vh;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    white-space: nowrap;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
}

.wrapper:hover .fadeingText{
    opacity: 1;
    transition: all 1.5s 0.5s;
}

.fadeingText:hover{
    text-decoration: underline;
}


.portfolio .portfolioCircle {
   transform: scale(10);
}

.about .meCircle {
    transform: scale(10);
}

.about .wrapper .portfolioCircle {
    top: 100vh;
}

.portfolio .wrapper .meCircle {
    top: -100vh;

}
