html, body {
    background-color:  rgb(41, 40, 39);
}

body, a, p {
    font-family: Quicksand, system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-display: swap;
    font-style: normal;
    font-weight: 400;
}

body, html {
    overflow: hidden;
    margin: 0;
}

.wrapper{
    height: 100%;
    width: 100%;
    margin: 25px auto;
    position: relative;
}

.circle {
    width: 50vh;
    height: 50vh;
    border-radius: 10000px;
    margin: auto;
    transition: all 1s;
    top:0;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    mix-blend-mode: color-dodge;
}

.aboutCircle {
    background: rgb(160, 160, 160);
    top: 38vh;
    line-height: 25vh;
    z-index: 2;
}

.portfolioCircle {
    margin-bottom: 50px;
    background: rgb(160, 160, 160);
    line-height: 75vh;
    z-index: 1;
}




.wrapper:hover .portfolioCircle{
     top: 35vh;
}

.wrapper:hover .aboutCircle{
    top: 10vh;
}

.fadeingText{
    display: inline-block;
    text-decoration: none;
    color: white;
    opacity: 0;
    transition: all 0.2s 0s;
    font-size: 3vh;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    white-space: nowrap;
}

.logo{
    position: absolute;
    left: 50vw;
    top: 52vh;
    margin-left: -10vh;
    margin-top: -11vh;
    z-index: 10;
}

.logo img{
    width: 20vh;
}

.wrapper:hover .fadeingText{
    opacity: 1;
    transition: all 1.5s 0.5s;
}

.fadeingText:hover{
    text-decoration: underline;
}


.portfolio .portfolioCircle {
   transform: scale(10);
    background-color: rgb(41, 40, 39);
}

.about .aboutCircle {
    transform: scale(10);
    background: rgb(160, 160, 160);
}

.aboutContent {
    position: fixed;
    color: white;
    top:0;
    left: 0;
    right: 0;
    margin-top: 10vh;
    margin-left: 15vh;
    opacity: 0;
    transition: all 0.5s 0s;
    z-index: 10;
}

.portfolioContent {
    margin-top: 10vh;
    margin-left: 15vh;
    opacity: 0;
}
.portfolio .portfolioContent {
    position: fixed;
    color: white;
    top:0;
    left: 0;
    right: 0;
    opacity: 1;
    transition: all 0.5s 0s;
    z-index: 10;
}

.about .aboutContent {
    opacity: 1;
    transition: all 1.5s 0.5s;
}

.about .aboutContent .foto {
    margin-right: 10vh;
    background-color: rgb(110, 107, 105);
    width: 30vh;
    height: 40vh;
    margin-bottom: 10vh;
    background-image: url('./flicka.png');
    background-size: contain;
    background-blend-mode: multiply;
}

.about .portfolioContent {
    opacity: 0;
}

.about .logo {
    opacity: 0 !important;
    top: 100vh;
    transition-delay: 0s !important;
    transition-duration: 0.5s !important;
}

.portfolio .logo {
    opacity: 0 !important;
    top: -100vh;
    transition-delay: 0s !important;
    transition-duration: 0.5s !important;

}

.about .wrapper .portfolioCircle {
    top: 100vh;
}

.portfolio .wrapper .aboutCircle {
    top: -100vh;

}
