body, a, p {
    font-family: Quicksand, system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-display: swap;
    font-style: normal;
    font-weight: 400;
}

.wrapper{
    height: 700px;
    width: 700px;
    margin: 25px auto;
    position: relative;
}

.circle {
    width: 350px;
    height: 350px;
    border-radius: 100%;
    margin: auto;
    transition: all 1s;
    top:0;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

.portfolioCircle {
    margin-bottom: 50px;
    background: rgb(114, 109, 185);
    line-height: 500px;
}


.meCircle {
    background: rgba(255, 128, 192, 0.5);
    top: 350;
    line-height: 150px;
}



.wrapper:hover .portfolioCircle{
     top: 262.5px;
}

.wrapper:hover .meCircle{
    top:87.5px;
}

.fadeingText{
    display: inline-block;
    text-decoration: none;
    color: white;
    opacity: 0;
    transition: all 0.2s 0s;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
}

.wrapper:hover .fadeingText{
    opacity: 1;
    transition: all 1.5s 0.5s;
}

.fadeingText:hover{
    text-decoration: underline;
}


.portfolio .portfolioCircle {
   transform: scale(10);
}

.about .meCircle {
    transform: scale(10);
}

.about .wrapper .portfolioCircle {
    top: 100vh;
}

.portfolio .wrapper .meCircle {
    top: -100vh;

}
