
.contactPage {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 20px;
  text-align: center;
  color: #000000;

  &_email{
    margin-top: 90px;
  }

  &_phone{
    margin-top: 66px;
  }
}
