
._fixed_bg {
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  will-change: opacity;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: #918170;
  background-image: url('/images/bg.jpg');
  background-size: cover;
}

.fixed-topbar-only {
  background-image: url('/images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  ._fixed_bg {
    display: none;
  }
}

._topbar-fixed {
  height: 60px;
  width: 100%;
  top: 0;
  display: flex;
  position: fixed;
  background: rgba(237, 234, 232, 0.55);
  backdrop-filter: brightness(108%) blur(5px);
  -webkit-backdrop-filter: brightness(108%) blur(5px);
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 20px rgba(145, 129, 112, 0.25);

  opacity: 0;
  will-change: opacity;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 100;
  margin: 0;

  a {
    line-height: 50px;
    padding: 0 4vw;
    color: #333;
    font-weight: 400;
    letter-spacing: 1px;
    display: block;
    transition: 0.2s;

    @include mobile {
      display: none;
    }

    :hover {
      color: $blue;
    }
  }
}

._topbar-big {
  overflow: hidden;
  height: 400px;

  .logo {
    display: block;
    width: 55vw;
    height: 55vw;
    max-width: 256px;
    max-height: 256px;
    position: fixed;
    will-change: left, top, width, height;
    top: -1000px;
    z-index: 101;
  }

  .name {
    color: rgb(57, 42, 88);
    font-size: 14px;
    font-weight: 500;
    position: fixed;
    will-change: right, top, font-size, color;
    top: 1000px;
    z-index: 101;
  }
}



.fixed-topbar-only {
  ._topbar-big {
    height: 60px;
  }
}


._topbar-mobile {
  width: 100%;
  bottom: 0;
  display: flex;
  position: fixed;
  background: #fff;
  box-shadow: 0px 0px 20px rgba(145, 129, 112, 0.25);
  z-index: 100;
  margin: 0;
  display: none;
  transform: translateY(150px);
  transition: 0.3s;

  @include mobile {
    display: block;
  }

  #topbar-mobile-arrow  {
    svg path {
      transition: all 0.5s;
    }
  }

  &.active {
    transform: translateY(0px);
    #topbar-mobile-arrow {
      svg:hover path {
        d: path("M32 2L14 2L1 2");
        d:"M32 2L14 2L1 2";
      }
    }
  }

  a {
    line-height: 50px;
    padding: 0 4vw;
    color: #333;
    font-weight: 400;
    letter-spacing: 1px;
    display: block;
    transition: 0.2s;
    text-align: center;

    :hover {
      color: $blue;
    }
  }
}
