
._fixed_bg {
  background: #918170;
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

._topbar-fixed {
  height: 50px;
  width: 100%;
  display: flex;
  position: fixed;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  align-items: center;
  justify-content: space-between;

  .logo {
    display: block;
    width: 40px;
    height: 40px;
    margin-left: 16px;
  }
}


._topbar-big {
  overflow: hidden;

  .logo {
    display: block;
    margin: 23px auto 35px auto;
    width: 50vw;
    height: 50vw;
    max-width: 300px;
    max-height: 300px;
  }

  .name {
    color: #fff;
    font-size: 32px;
    text-align: center;
    margin: 35px 0;
    font-weight: 300;
  }
}
