
.wrapper{

    height: 700px;
    width: 700px;
    margin: 25px auto;
    position: relative;

}

.myDiv {
    width: 350px;
    height: 350px;
    margin-bottom: 50px;
    border-radius: 100%;
    background: rgb(114, 109, 185);
    margin:  auto;
    transition: all 1s;
    top:0;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 500px;
}



.circle {
    width: 350px;
    height: 350px;
    border-radius: 100%;
    background: rgba(255, 128, 192, 0.5);
    margin: auto;
    transition: all 1s;
    top: 350;
    position: absolute;
    left: 0;
    right: 0;
    opacity: 1;
    text-align: center;
    line-height: 150px;
}



.wrapper:hover .myDiv{
     top: 262.5px;
}

.wrapper:hover .circle{
    top:87.5px;
}

.fadeingText{
    display: inline-block;
    text-decoration: none;
    color: white;
    opacity: 0;
    transition: all 0.2s 0s;
    
    font-family: Quicksand;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
}

.wrapper:hover .fadeingText{
    opacity: 1;
    transition: all 1.5s 0.5s;
}

.fadeingText:hover{
    text-decoration: underline;
    font-size: 25px;
}

