<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css?v=9" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    <script>
      window.fixedTopbar = true
    </script>
    <script type="text/javascript" src="/scripts/bg.js"></script>
  </head>

  <body class="fixed-topbar-only">

    <!--
    <header class="_topbar-fixed">
      <img src="/images/logo_64.png" alt="Hand Logo" class="logo">


        <nav>
          <a href="{{ site.baseurl }}/">Blog</a>
          <a href="{{ site.baseurl }}/about">About</a>
        </nav>

    </header>

    -->

    {% include header.html %}

    <div id="main" role="main" class="container">
      <article class="page">

        <h1>{{ page.title }}</h1>

        <div class="contactPage">
          <div class="swirl" />

          <p class="contactPage_email">
            me@johannastadler.com
          </p>
          <p class="contactPage_phone">
            +46 (0)727 131 477
          </p>

          <a class="contactPage_insvg">
            <p class="contactPage_insvg_title">
              Häng med i svängarna!
            </p>

            <p class="contactPage_insvg_subtitle">
              Skriv upp dig för att få uppdatering på epost!
            </p>
          </a>

          <div class="contactPage_follow">
            <div class="contactPage_follow_title">
              och följ mig på:
            </div>

            <div class="contactPage_follow_items">
              <a class="contactPage_follow_item" href="https://www.instagram.com/ianna.art">
                instagram
              </a>
              <a class="contactPage_follow_item" href="https://www.facebook.com/ianna.art ">
                facebook
              </a>
            </div>
          </div>
        </div>
      </article>

    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}

  </body>
</html>
