<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css?v=9" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    <script>
      window.fixedTopbar = true
    </script>
    <script type="text/javascript" src="/scripts/bg.js"></script>
  </head>

  <body class="fixed-topbar-only">

    <!--
    <header class="_topbar-fixed">
      <img src="/images/logo_64.png" alt="Hand Logo" class="logo">


        <nav>
          <a href="{{ site.baseurl }}/">Blog</a>
          <a href="{{ site.baseurl }}/about">About</a>
        </nav>

    </header>

    -->

    {% include header.html %}

    <div id="main" role="main" class="container">
      <article class="page">

        <h1>{{ page.title }}</h1>

        <div class="contactPage">
          <p class="contactPage_email">
            me@johannastadler.com
          </p>
          <p class="contactPage_phone">
            +46 (0)727 131 477
          </p>

          <svg width="2186" height="1473" viewBox="0 0 2186 1473" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M582.307 744.449C666.807 819.697 1014.25 864.193 1298.31 895.199C1610.82 929.311 2103.31 895.199 2103.31 895.199L2185.56 1472.45C2185.56 1472.45 1638.81 1459.95 1512.56 1454.2C1386.31 1448.45 360.133 1400.47 111.557 1050.2C56.5571 972.697 27.8071 938.697 5.05708 833.197C-20.061 716.715 56.5571 532.449 56.5571 532.449C56.5571 532.449 74.3071 439.947 165.168 354.447C261.246 264.039 350.807 226.697 453.057 209.948C600.853 185.738 727.557 224.198 820.557 169.698C880.807 134.39 971.647 42.9713 1019.31 15.9472C1043.56 2.19701 1088.81 -6.55253 1135.31 6.19756C1157.91 12.395 1190.81 33.9486 1190.81 33.9486C1190.81 33.9486 1142.85 21.698 1123.81 21.698C1080.31 21.698 1056.46 59.448 1043.56 75.198C996.262 132.948 983.307 232.698 880.807 314.698C807.877 373.042 675.807 391.091 629.057 412.198C582.307 433.305 497.307 485.449 495.057 557.698C492.807 629.947 497.807 669.2 582.307 744.449Z" fill="#FFB612"/>
          </svg>


          <a class="contactPage_insvg">
            <p class="contactPage_insvg_title">
              Häng med i svängarna!
            </p>

            <p class="contactPage_insvg_subtitle">
              Skriv upp dig för att få uppdatering på epost!
            </p>
          </a>

          <div class="contactPage_follow">
            <div class="contactPage_follow_title">
              och följ mig på:
            </div>

            <div class="contactPage_follow_items">
              <a class="contactPage_follow_item" href="https://www.instagram.com/ianna.art">
                instagram
              </a>
              <a class="contactPage_follow_item" href="https://www.facebook.com/ianna.art ">
                facebook
              </a>
            </div>
          </div>
        </div>
      </article>

    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}

  </body>
</html>
