<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css?v=9" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    <script type="text/javascript" src="/scripts/bg.js"></script>
  </head>

  <body>

    <!--
    <header class="_topbar-fixed">
      <img src="/images/logo_64.png" alt="Hand Logo" class="logo">


        <nav>
          <a href="{{ site.baseurl }}/">Blog</a>
          <a href="{{ site.baseurl }}/about">About</a>
        </nav>

    </header>

    -->

    <div class="_fixed_bg" id="bg"></div>

    <div class="_topbar-fixed" id="topbar"></div>

    <div class="_topbar-big">
      <img src="/images/logo_512.png" alt="Hand Logo" class="logo" id="topbar-logo" />
      <p class="name" id="topbar-name">Johanna Stadler</p>
    </div>


    <div id="main" role="main" class="container">
      <article class="page">

        <h1>{{ page.title }}</h1>

        <div class="contactPage">
          <p class="contactPage_email">
            me@johannastadler.com
          </p>
          <p class="contactPage_phone">
            +46 (0)727 131 477
          </p>

          <svg width="393" height="546" viewBox="0 0 393 546" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M69 180.75C-43.9999 216 -191.45 359.387 -162.113 399.557C-132.777 439.726 -29.4999 614.25 -29.4999 614.25C39.7501 203.75 284.018 343.273 371.978 287.222C459.937 231.172 452.596 37.1142 444.877 4.43697C437.158 -28.2403 411.274 134.997 315.964 173.204C220.654 211.411 182 145.5 69 180.75Z" fill="#FFB612"/>
          </svg>

          <a class="contactPage_insvg">
            <p class="contactPage_insvg_title">
              Häng med i svängarna!
            </p>

            <p class="contactPage_insvg_subtitle">
              Skriv upp dig för att få uppdatering på epost!
            </p>
          </a>

          <div class="contactPage_follow">
            <div class="contactPage_follow_title">
              och följ mig på:
            </div>

            <div class="contactPage_follow_items">
              <a class="contactPage_follow_item" href="https://www.instagram.com/ianna.art">
                Instagram
              </a>
              <a class="contactPage_follow_item" href="https://www.facebook.com/ianna.art ">
                Facebook
              </a>
            </div>
          </div>
        </div>
      </article>

    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}

  </body>
</html>
