<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css?v=17" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    <script type="text/javascript" src="/scripts/bg.js?v=17"></script>
  </head>

  <body>

    <!--
    <header class="_topbar-fixed">
      <img src="/images/logo_64.png" alt="Hand Logo" class="logo">


        <nav>
          <a href="{{ site.baseurl }}/">Blog</a>
          <a href="{{ site.baseurl }}/about">About</a>
        </nav>

    </header>

    -->

    {% include header.html %}

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}

    <script>
      if (/Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor))
        document.body.classList.add('isChrome')
    </script>
  </body>
</html>
