<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css?v=9" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />


    {% if page.fixedTopbar %}
      <script>
        window.fixedTopbar = true
      </script>
    {% endif %}
    <script type="text/javascript" src="/scripts/bg.js"></script>
  </head>

  <body>

    <!--
    <header class="_topbar-fixed">
      <img src="/images/logo_64.png" alt="Hand Logo" class="logo">


        <nav>
          <a href="{{ site.baseurl }}/">Blog</a>
          <a href="{{ site.baseurl }}/about">About</a>
        </nav>

    </header>

    -->

    <div class="_fixed_bg" id="bg"></div>

    <div class="_topbar-fixed" id="topbar"></div>

    <div class="_topbar-big">
      <img src="/images/logo_512.png" alt="Hand Logo" class="logo" id="topbar-logo" />
      <p class="name" id="topbar-name">Johanna Stadler</p>
    </div>


    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}

  </body>
</html>
