---
layout: home
---

<article class="post">

  <div class="yellowbox" style="margin-left: {{page.yellowLeft}}%;margin-bottom: {{page.yellowOverlap}}px">
    <p class="title">{{ page.yellowTitle }}</p>
    <p class="content">{{ page.yellowContent }}</p>
  </div>

  <img src="{{ page.image1 }}" />

  <div class="entry">
    {{ content }}
  </div>

  <div>
    {% for imageUrl in page.imageGallery %}
      <img src="{{ imageUrl }}" />
    {% endfor %}
  </div>

  <div class="date">
    Skriven {{ date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>
