---
layout: home
---

<article class="post">

  <div class="yellowbox" style="margin-left: {{page.yellowLeft}}%;margin-bottom: {{page.yellowOverlap}}px">
    <p class="title">{{ page.yellowTitle }}</p>
    <p class="content">{{ page.yellowContent }}</p>
  </div>


  {% if page.image1 %}
  <img
    src="{{ page.image1 }}"
    class="mainImage"
    style="left: {{page.image1Left}}%;transform: translateX(-{{page.image1Left}}%);
           top: {{page.image1Overlap}}%;transform: translateY(-{{page.image1Overlap}}%);
           max-width: {{page.image1Width}}%;
           "
  />
  {% endif %}

  {% if page.image2 %}
  <img
    src="{{ page.image2 }}"
    class="mainImage"
    style="left: {{page.image2Left}}%;transform: translateX(-{{page.image2Left}}%);
           top: {{page.image2Overlap}}%;transform: translateY(-{{page.image2Overlap}}%);
           max-width: {{page.image1Width}}%;
           "
  />
  {% endif %}

  {% if page.image3 %}
  <img src="{{ page.image3 }}"
      class="mainImage"
      style="left: {{page.image3Left}}%;transform: translateX(-{{page.image3Left}}%);
             top: {{page.image3Overlap}}%;transform: translateY(-{{page.image3Overlap}}%);
             max-width: {{page.image1Width}}%;
             "
  />
  {% endif %}

  <div class="entry">
    {{ content }}
  </div>

  <div class="gallery">
    {% for imageUrl in page.imageGallery %}
      <img src="{{ imageUrl }}" />
    {% endfor %}
  </div>

  <div class="date">
    Skriven {{ date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>
