

html 
{

background: url("http://echostains.files.wordpress.com/2009/03/william_morris-willow-bough-wallpaper1.jpg") ;
}

#container{
	background: #ffffff; 
	width: 80%;
	overflow: hidden;
	margin: 0 auto;
	padding: 0px;
	text-align:center;
	//border: 3px solid green;
}

.ogon{
    margin-top: 116px;
    margin-bottom: 128px;
    width: 28%;
}

.noLinkUnderline {
 text-decoration: none;   
}

#banner{
	background: url("guldram.gif");
	background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    
	width: 80%;
	margin: 0px auto;
}


#menu{
	text-align: center;
	width: container;
	height: 200px;
	overflow: hidden;
	/*margin: 10 px;
	padding: 50px;
	
	border: 3px solid red;
	*/
	}
	
ul{
	margin: 0 auto;
	list-style-type: center; center;
}

li {
display:inline; 
}

.botimg {
width:40%;
}

.botimg:hover {
transform: scale(1.2);
-webkit-transform: scale(1.2);
cursor:pointer;
overflow: hidden;
}

